
@font-face {
  font-family: 'varela_roundregular';
  src: url('src/assets/fonts/varelaround-regular-webfont.woff2') format('woff2'),
  url('src/assets/fonts/varelaround-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bello Pro';
  src: url('src/assets/fonts/Bello-Pro.woff2') format('woff2'),
  url('src/assets/fonts/Bello-Pro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LucidaSans';
  src: url('src/assets/fonts/LucidaSans.woff2') format('woff2'),
  url('src/assets/fonts/LucidaSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LucidaSans Demi';
  src: url('src/assets/fonts/LucidaSans-Demi.woff2') format('woff2'),
  url('src/assets/fonts/LucidaSans-Demi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LucidaSans Bold';
  src: url('src/assets/fonts/LucidaSans-Bold.woff') format('woff2'),
  url('src/assets/fonts/LucidaSans-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LucidaSans Bold Italic';
  src: url('src/assets/fonts/LucidaSans-BoldItalic.woff2') format('woff2'),
  url('src/assets/fonts/LucidaSans-BoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LucidaSans Italic';
  src: url('src/assets/fonts/LucidaSans-Italic.woff2') format('woff2'),
  url('src/assets/fonts/LucidaSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('src/assets/fonts/Poppins-Bold.woff2') format('woff2'),
  url('src/assets/fonts/Poppins-Bold.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}