{#
/**
 * @file
 * Override of default taxonomy term template.
 *
 * Removed the title part from default template. May be replaced by a better
 * system later.
 */
#}
<div{{ attributes }}>
  {{ content }}
</div>
